<section>  
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>TGDesck</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon assignment_ind-icon" 
      aria-label="Example icon-button with assignment_ind icon"
      (click)="habilitaCadastroTarefa()">
      <mat-icon>assignment_ind</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" 
      aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" 
      aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</section>

<section *ngIf="cadastroTarefa">
  <mat-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="primeiroFormGroup">
      <form [formGroup]="primeiroFormGroup">
        <ng-template matStepLabel>Filtros</ng-template>

        <mat-form-field appearance="fill" class="botoesOpcoes">
          <mat-label>Titulo da Tarefa</mat-label>
          <mat-select (change)="selectTitulo($event)">
            <mat-option></mat-option>
            <mat-option *ngFor="let titulo of titulosTarefas"
              [value]="titulo">{{ titulo }}</mat-option>
          </mat-select>
        </mat-form-field>
          
        <mat-form-field appearance="fill" class="botoesOpcoes">
          <mat-label>Tipo da Tarefa</mat-label>
          <mat-select>
            <mat-option></mat-option>
            <mat-option *ngFor="let tarefa of tiposTarefas"
              [value]="tarefa">{{ tarefa }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="botoesOpcoes">
          <mat-label>Status da Tarefa</mat-label>
          <mat-select>
            <mat-option></mat-option>
            <mat-option *ngFor="let status of statusTarefas"
              [value]="status">{{ status }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="botoesOpcoes">
          <mat-label>Prioridade da Tarefa</mat-label>
          <mat-select>
            <mat-option></mat-option>
            <mat-option *ngFor="let prioridade of prioridadesTarefas"
              [value]="prioridade">{{ prioridade }}</mat-option>
          </mat-select>
        </mat-form-field>

      </form>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>      
    </mat-step>
    
    <mat-step [stepControl]="primeiroFormGroup">
      <form [formGroup]="primeiroFormGroup">
        <ng-template matStepLabel>Assunto</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Assunto</mat-label>
          <input matInput placeholder="Last name, First name"
            formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <!-- #docregion label -->
    <mat-step [stepControl]="segundoFormGroup" label="Contato">
    <!-- #enddocregion label -->
      <form [formGroup]="segundoFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Contato</mat-label>
          <input matInput formControlName="secondCtrl"
            placeholder="Contato" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="terceiroFormGroup" label="Descrição">
      <!-- #enddocregion label -->
        <form [formGroup]="terceiroFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Já terminou?</ng-template>
      <p>se não terminou volte.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</section>

<div *ngFor="let tarefa of tarefas" class="cardsTarefas">
  <app-tarefa *ngIf="!cadastroTarefa" [titulo]="tarefa.titulo" [numeroTarefa]="tarefa.numeroTarefa"
              [contato]="tarefa.contato" [assunto]="tarefa.assunto" [descricao]="tarefa.descricao"
              [tipoTarefa]="tarefa.tipoTarefa" [statusTarefa]="tarefa.statusTarefa"
              [prioridadeTarefa]="tarefa.prioridadeTarefa">
  </app-tarefa>
</div>

<app-tarefa *ngIf="cadastroTarefa" [titulo]="titulo">
</app-tarefa>
